@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
.cart{
    margin: 2% auto;
    display: flex;
    width: 90%;
    font-family: 'Inter', sans-serif;
    font-family: Inter;
    justify-content: space-between;
}
.arrow{
    margin-top: 1%;
}
.info{
    width: 90%;
    margin: 0 3%;
}
.title{
    font-size: 30px;

}
.content{
    margin: 2% 0;
    font-size: 18px;
}

.cartImg{
    width: 350px;
    height: 210px
}

.link{
    color: #A8A8A8;
    font-size: 18px;
}